<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDuLieuNoiBo.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/XE;TNS_ADMIN=C:\Users\Admin\Oracle\network\admin;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID='&quot;C##ADMIN&quot;'"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>